@page "/roller"
@using Snorehammer.Web.Components.Simulation.DiceRoller
@using Snorehammer.Web.FrontendModels;
@rendermode InteractiveServer

<PageTitle>Roller</PageTitle>

<h1>Roller</h1>

<label>How Many Dice?</label>
<InputNumber @bind-Value="DiceNum"></InputNumber>

<button class="btn btn-primary" @onclick="RollDie">Click me</button>
<div>
    @foreach (var die in DiceList)
    {
        <p>
            <DieDisplay die="die"></DieDisplay>
        </p>
    }
</div>
@code {
    private int DiceNum = 0;
    private List<Dice> DiceList = new List<Dice>();
    private async Task RollDie()
    {
        for (int i = 0; i < DiceNum; i++)
        {
            
        DiceList.Add(new Dice(6));
        }
    }
}
