@page "/roller"
@using Snorehammer.Web.Components.Simulation.DiceRoller
@using Snorehammer.Web.FrontendModels;

<PageTitle>Roller</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="RollDie">Click me</button>
<ul>
    @foreach (var die in DiceList)
    {
        <li>
        <DieDisplay die="die"></DieDisplay>
        </li>
    }
</ul>
@code {
    private int currentCount = 0;
    private List<Dice> DiceList = new List<Dice>();
    private void RollDie()
    {
        DiceList.Add(new Dice(6));
    }
}
