@using Snorehammer.Web.FrontendModels
<RadzenCard Variant="Variant.Outlined">

    <EditForm Model="@attack">
        <div class="rz-p-12 rz-text-align-center">
            <RadzenCheckBox @bind-Value=@attack.IsVariableAttacks Name="Variable" />
            <RadzenLabel Text="Roll for # of attacks" Component="Variable" class="rz-ms-2" />
        </div>
        <RadzenRow AlignItems="AlignItems.End" Wrap="FlexWrap.Wrap" Gap="1rem" class="rz-p-sm-12">
            <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                @if (attack.IsVariableAttacks)
                {
                    <RadzenFormField Text="X * y + z" Variant="Variant.Flat">

                        <RadzenNumeric @bind-Value="attack.VariableDiceNumber" />
                        <RadzenNumeric @bind-Value="attack.VariableDiceSides" />
                        <RadzenNumeric @bind-Value="attack.VariableDiceConstant" />
                    </RadzenFormField>
                }
                else
                {

                    <RadzenFormField Text="Number of attacks" Variant="Variant.Flat">

                        <RadzenNumeric @bind-Value="attack.Attacks" />
                    </RadzenFormField>
                }
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                <RadzenFormField Text="To hit" Variant="Variant.Flat">

                    <RadzenNumeric @bind-Value="attack.Skill" />
                </RadzenFormField>
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                <RadzenFormField Text="Strength" Variant="Variant.Flat">

                    <RadzenNumeric @bind-Value="attack.Strength" />
                </RadzenFormField>
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                <RadzenFormField Text="Damage" Variant="Variant.Flat">

                    <RadzenNumeric @bind-Value="attack.Damage" />
                </RadzenFormField>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow AlignItems="AlignItems.End" Wrap="FlexWrap.Wrap" Gap="1rem" class="rz-p-sm-12">

            <div class="rz-p-12 rz-text-align-center">
                <RadzenCheckBox @bind-Value=@attack.Devastating Name="Devastating" />
                <RadzenLabel Text="Devastating Wounds" Component="Devastating" class="rz-ms-2" />
            </div>
            <div class="rz-p-12 rz-text-align-center">
                <RadzenCheckBox @bind-Value=@attack.Sustained Name="Sustained" />
                <RadzenLabel Text="Sustained Hits" Component="Sustained" class="rz-ms-2" />
            </div>
            <div class="rz-p-12 rz-text-align-center">
                <RadzenCheckBox @bind-Value=@attack.Lethal Name="Lethal" />
                <RadzenLabel Text="Lethal" Component="Lethal" class="rz-ms-2" />
            </div>
            <div class="rz-p-12 rz-text-align-center">
                <RadzenCheckBox @bind-Value=@attack.Torrent Name="Torrent" />
                <RadzenLabel Text="Torrent" Component="Torrent" class="rz-ms-2" />
            </div>
            <div class="rz-p-12 rz-text-align-center">
                <RadzenCheckBox @bind-Value=@attack.Blast Name="Blast" />
                <RadzenLabel Text="Blast" Component="Blast" class="rz-ms-2" />
            </div>
            <div class="rz-p-12 rz-text-align-center">
                <RadzenCheckBox @bind-Value=@attack.RerollHit Name="RerollHit" />
                <RadzenLabel Text="Reroll Hit" Component="RerollHit" class="rz-ms-2" />
            </div>
            <div class="rz-p-12 rz-text-align-center">
                <RadzenCheckBox @bind-Value=@attack.RerollWound Name="RerollWound" />
                <RadzenLabel Text="Reroll Wounds" Component="RerollWound" class="rz-ms-2" />
            </div>
            <div class="rz-p-12 rz-text-align-center">
                <RadzenCheckBox @bind-Value=@attack.RerollDamage Name="RerollDamage" />
                <RadzenLabel Text="Reroll Damage" Component="RerollDamage" class="rz-ms-2" />
            </div>
        </RadzenRow>
    </EditForm>
</RadzenCard>
@code {
    [Parameter]
    public AttackProfile attack { get; set; }
    [Parameter]
    public EventCallback<AttackProfile> AttackChanged { get; set; }
}
