@using Snorehammer.Web.FrontendModels
<h3>UnitInput</h3>
@if (loaded == true)
{

    @if (Attacker == true)
    {
        <EditForm Model="@attack">
            <table>
                <tr>
                    <th>Attacks</th>
                    <th>Skill</th>
                    <th>Strength</th>
                    <th>Armor Penetration</th>
                    <th>Damage</th>
                </tr>
                <tr>
                    <td>

                        <InputNumber @bind-Value="attack.Attacks"></InputNumber>
                    </td>
                    <td>

                        <InputNumber @bind-Value="attack.Skill"></InputNumber>
                    </td>
                    <td>

                        <InputNumber @bind-Value="attack.Strength"></InputNumber>
                    </td>
                    <td>

                        <InputNumber @bind-Value="attack.ArmorPenetration"></InputNumber>
                    </td>
                    <td>

                        <InputNumber @bind-Value="attack.Damage"></InputNumber>
                    </td>
                </tr>
            </table>
        </EditForm>   
    }
    else{
        <EditForm Model="@unit">
            <table>
                <tr>
                    <th>Saving Throw</th>
                    <th>Skill</th>
                    <th>Strength</th>
                    <th>Armor Penetration</th>
                    <th>Damage</th>
                </tr>
                <tr>
                    <td>
                        <InputNumber @bind-Value="unit.MinimumSave"></InputNumber>

                    </td>
                    <td>
                        <InputNumber @bind-Value="unit.InvulnerableSave"></InputNumber>
                    </td>
                    <td>
                        <InputNumber @bind-Value="unit.Toughness"></InputNumber>

                    </td>
                    <td>
                        <InputNumber @bind-Value="unit.Wounds"></InputNumber>
                    </td>
                    <td>
                        <InputText @bind-Value="unit.Name"></InputText>
                    </td>
                </tr>
            </table>
        </EditForm>
    }
}
@code {
    private UnitProfile unit;
    [Parameter]
    public AttackProfile attack { get; set; }
    [Parameter]
    public EventCallback<AttackProfile> AttackChanged { get; set; }
    private bool loaded = false;
    [Parameter] public bool Attacker { get; set; }
    protected override Task OnInitializedAsync()
    {
        unit = new UnitProfile()
            {
                InvulnerableSave = 4,
                MinimumSave = 3,
                Toughness = 11,
                Wounds = 14,
                Name = "Maleceptor"
            };
        
        loaded = true;
        return base.OnInitializedAsync();
    }
}
