@using Snorehammer.Web.FrontendModels
<h3>UnitInput</h3>
@if (loaded == true)
{

    <EditForm Model="@Unit">
        <table>
            <tr>
                <th>Name</th>
                <th>Saving Throw</th>
                <th>Invulnerable Save</th>
                <th>Toughness</th>
                <th>Model Wounds</th>
                <th>Number of Models</th>
            </tr>
            <tr>
                <td>
                    <RadzenTextBox @bind-Value="Unit.Name"/>
                </td>
                <td>
                    <RadzenNumeric @bind-Value="Unit.MinimumSave"/>
                </td>
                <td>
                    <RadzenNumeric @bind-Value="Unit.InvulnerableSave"/>
                </td>
                <td>
                    <RadzenNumeric @bind-Value="Unit.Toughness"/>
                </td>
                <td>
                    <RadzenNumeric @bind-Value="Unit.Wounds"/>
                </td>
                <td>
                    <RadzenNumeric @bind-Value="Unit.ModelCount"/>
                </td>
            </tr>
        </table>
        <div class="rz-p-12 rz-text-align-center">
            <RadzenCheckBox @bind-Value=@Unit.ArmorReroll Name="ArmorReroll" />
            <RadzenLabel Text="Reroll all failed armor saves" Component="ArmorReroll" class="rz-ms-2" />
        </div>
        <div class="rz-p-12 rz-text-align-center">
            <RadzenCheckBox @bind-Value=@Unit.FeelNoPain Name="FeelNoPain" />
            <RadzenLabel Text="Feel No Pain" Component="FeelNoPain" class="rz-ms-2" />
            <RadzenFormField Text="Outlined/Default" Style="width: 100%;">
                <RadzenNumeric @bind-Value="@Unit.FeelNoPainTarget"  Disabled=!Unit.FeelNoPain/>
            </RadzenFormField>
        </div>
        <div class="rz-p-12 rz-text-align-center">
            <RadzenCheckBox @bind-Value=@Unit.HasCover Name="HasCover" />
            <RadzenLabel Text="Has Cover" Component="HasCover" class="rz-ms-2" />
            </div>
    </EditForm>
}

@code {
    [Parameter]
    public UnitProfile Unit { get; set; }
    [Parameter]
    public EventCallback<UnitProfile> UnitChanged { get; set; }
    private bool loaded = false;
    [Parameter] public bool Attacker { get; set; }
    protected override Task OnInitializedAsync()
    {
        
        
        loaded = true;
        return base.OnInitializedAsync();
    }
}
