@using Snorehammer.Web.FrontendModels
@if (loaded == true)
{
    <RadzenCard Variant="Variant.Outlined">

    <EditForm Model="@Unit">
        <RadzenRow AlignItems="AlignItems.End" Wrap="FlexWrap.Wrap" Gap="1rem" class="rz-p-sm-12">
            <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                <RadzenFormField Text="Name" Variant="Variant.Flat">

                    <RadzenTextBox @bind-Value="Unit.Name" />
                </RadzenFormField>
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                <RadzenFormField Text="Saving Throw" Variant="Variant.Flat">

                    <RadzenNumeric @bind-Value="Unit.MinimumSave" />
                </RadzenFormField>
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                <RadzenFormField Text="Invulnerable Save" Variant="Variant.Flat">

                    <RadzenNumeric @bind-Value="Unit.InvulnerableSave" />
                </RadzenFormField>
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                <RadzenFormField Text="Toughness" Variant="Variant.Flat">

                    <RadzenNumeric @bind-Value="Unit.Toughness" />
                </RadzenFormField>
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                <RadzenFormField Text="Model Wounds" Variant="Variant.Flat">

                    <RadzenNumeric @bind-Value="Unit.Wounds" />
                </RadzenFormField>
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                <RadzenFormField Text="Number of Models" Variant="Variant.Flat">

                    <RadzenNumeric @bind-Value="Unit.ModelCount" />
                </RadzenFormField>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow AlignItems="AlignItems.End" Wrap="FlexWrap.Wrap" Gap="1rem" class="rz-p-sm-4">

            <div class="rz-p-4 rz-text-align-center">
                <RadzenCheckBox @bind-Value=@Unit.ArmorReroll Name="ArmorReroll" />
                <RadzenLabel Text="Reroll all failed armor saves" Component="ArmorReroll" class="rz-ms-2" />
            </div>
            <div class="rz-p-4 rz-text-align-center">
                <RadzenCheckBox @bind-Value=@Unit.FeelNoPain Name="FeelNoPain" />
                <RadzenLabel Text="Feel No Pain" Component="FeelNoPain" class="rz-ms-2" />
                <RadzenFormField Text="Targetor " Style="width: 100%;">
                    <RadzenNumeric @bind-Value="@Unit.FeelNoPainTarget" Disabled=!Unit.FeelNoPain />
                </RadzenFormField>
            </div>
            <div class="rz-p-4 rz-text-align-center">
                <RadzenCheckBox @bind-Value=@Unit.HasCover Name="HasCover" />
                <RadzenLabel Text="Has Cover" Component="HasCover" class="rz-ms-2" />
            </div>
        </RadzenRow>
    </EditForm>
    </RadzenCard>
}

@code {
    [Parameter]
    public UnitProfile Unit { get; set; }
    [Parameter]
    public EventCallback<UnitProfile> UnitChanged { get; set; }
    private bool loaded = false;
    [Parameter] public bool Attacker { get; set; }
    protected override Task OnInitializedAsync()
    {


        loaded = true;
        return base.OnInitializedAsync();
    }
}
