@using Snorehammer.Web.FrontendModels
<h3>UnitInput</h3>
@if (loaded == true)
{

        <EditForm Model="@unit">
            <table>
                <tr>
                    <th>Saving Throw</th>
                    <th>Skill</th>
                    <th>Strength</th>
                    <th>Armor Penetration</th>
                    <th>Damage</th>
                </tr>
                <tr>
                    <td>
                        <InputNumber @bind-Value="unit.MinimumSave"></InputNumber>

                    </td>
                    <td>
                        <InputNumber @bind-Value="unit.InvulnerableSave"></InputNumber>
                    </td>
                    <td>
                        <InputNumber @bind-Value="unit.Toughness"></InputNumber>

                    </td>
                    <td>
                        <InputNumber @bind-Value="unit.Wounds"></InputNumber>
                    </td>
                    <td>
                        <InputText @bind-Value="unit.Name"></InputText>
                    </td>
                </tr>
            </table>
        </EditForm>
    }

@code {
    private UnitProfile unit;
    private bool loaded = false;
    [Parameter] public bool Attacker { get; set; }
    protected override Task OnInitializedAsync()
    {
        unit = new UnitProfile()
            {
                InvulnerableSave = 4,
                MinimumSave = 3,
                Toughness = 11,
                Wounds = 14,
                Name = "Maleceptor"
            };
        
        loaded = true;
        return base.OnInitializedAsync();
    }
}
