@using Snorehammer.Web.FrontendModels
<h3>UnitInput</h3>
@if (loaded == true)
{

    <EditForm Model="@Unit">
        <table>
            <tr>
                <th>Saving Throw</th>
                <th>Skill</th>
                <th>Strength</th>
                <th>Armor Penetration</th>
                <th>Damage</th>
            </tr>
            <tr>
                <td>
                    <InputNumber @bind-Value="Unit.MinimumSave"></InputNumber>

                </td>
                <td>
                    <InputNumber @bind-Value="Unit.InvulnerableSave"></InputNumber>
                </td>
                <td>
                    <InputNumber @bind-Value="Unit.Toughness"></InputNumber>

                </td>
                <td>
                    <InputNumber @bind-Value="Unit.Wounds"></InputNumber>
                </td>
                <td>
                    <InputText @bind-Value="Unit.Name"></InputText>
                </td>
            </tr>
        </table>
    </EditForm>
}

@code {
    [Parameter]
    public UnitProfile Unit { get; set; }
    public EventCallback<UnitProfile> UnitChanged { get; set; }
    private bool loaded = false;
    [Parameter] public bool Attacker { get; set; }
    protected override Task OnInitializedAsync()
    {
        Unit = new UnitProfile()
            {
                InvulnerableSave = 4,
                MinimumSave = 3,
                Toughness = 11,
                Wounds = 14,
                Name = "Maleceptor"
            };
        
        loaded = true;
        return base.OnInitializedAsync();
    }
}
