@using Snorehammer.Web.FrontendModels
<h3>UnitInput</h3>
@if (loaded == true)
{

    <EditForm Model="@Unit">
        <table>
            <tr>
                <th>Name</th>
                <th>Saving Throw</th>
                <th>Invulnerable Save</th>
                <th>Toughness</th>
                <th>Total Wounds</th>
            </tr>
            <tr>
                <td>
                    <InputText @bind-Value="Unit.Name"></InputText>
                </td>
                <td>
                    <InputNumber @bind-Value="Unit.MinimumSave"></InputNumber>

                </td>
                <td>
                    <InputNumber @bind-Value="Unit.InvulnerableSave"></InputNumber>
                </td>
                <td>
                    <InputNumber @bind-Value="Unit.Toughness"></InputNumber>
                </td>
                <td>
                    <InputNumber @bind-Value="Unit.Wounds"></InputNumber>
                </td>
            </tr>
        </table>
    </EditForm>
}

@code {
    [Parameter]
    public UnitProfile Unit { get; set; }
    [Parameter]
    public EventCallback<UnitProfile> UnitChanged { get; set; }
    private bool loaded = false;
    [Parameter] public bool Attacker { get; set; }
    protected override Task OnInitializedAsync()
    {
        
        
        loaded = true;
        return base.OnInitializedAsync();
    }
}
