@using Snorehammer.Web.FrontendModels
@* Needs a color and image file  *@
@*Temporarily just using a text result*@
<p style="color:@colorCode">@value</p>
@code {
    [Parameter]
    public Dice die { get; set; }
    [Parameter]
    public bool CriticalMatters { get; set; } = false;
    public int value { get; set; }
    private string colorCode { get; set; } = "#000";
    protected override Task OnInitializedAsync()
    {
        value = die.Result;
        colorCode = SetColorCode();
        return base.OnInitializedAsync();
    }
    private string SetColorCode()
    {
        if (die.Result > die.Sides)
        {
            return "DDD";
        }
        else if (die.Critical && CriticalMatters)
        {
            return "#00F";
        }
        else if (die.Success)
        {
            return "#0F0";
        }
        else
        {
            return "#F00";
        }
    }
}
