@using Snorehammer.Web.FrontendModels
@* Needs a color and image file  *@
@*Temporarily just using a text result*@
<p style="color=@colorCode">@value</p>
@code {
    [Parameter]
    public Dice die { get; set; }
    public int value { get; set; }
    private string colorCode { get; set; } = "#000";
    private bool success = true;
    protected override Task OnInitializedAsync()
    {
        value = die.Result;
        success = die.Success;
        colorCode = SetColorCode(success);
        return base.OnInitializedAsync();
    }
    private string SetColorCode(bool success)
    {
        if (success)
        {
            return "#0F0";
        }
        else
        {
            return "#F00";
        }
    }
}
