@page "/"
@using Snorehammer.Web.Components.Unit
@using Snorehammer.Web.FrontendModels
@using Snorehammer.Web.Services
@rendermode InteractiveServer
<h3>Comparison</h3>

<RadzenStack class="rz-p-sm-12">
    <RadzenSwitch @bind-Value=@comparison.ComparingAttackers />
    <RadzenLabel>Compare Attackers</RadzenLabel>
    <RadzenSwitch @bind-Value=@comparison.ComparingDefenders />
    <RadzenLabel>Compare Defenders</RadzenLabel>
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
        <EditForm Model="SelectedNumberOfSimulations">

            <RadzenSelectBar TValue="int" Size="ButtonSize.Small" @bind-Value="SelectedNumberOfSimulations" Change="x => AssignMultiSims(x)">
                <Items>
                    <RadzenSelectBarItem Value="1" Text="x1" />
                    <RadzenSelectBarItem Value="5" Text="x5" />
                    <RadzenSelectBarItem Value="10" Text="x10" />
                    <RadzenSelectBarItem Value="100" Text="x100" />
                    <RadzenSelectBarItem Value="1000" Text="x1000" />
                </Items>
            </RadzenSelectBar>
        </EditForm>
    </RadzenStack>
</RadzenStack>

<RadzenCard Variant="Variant.Text">

    <h1>Attacker</h1>
    <RadzenCardGroup>
        @if (comparison.ComparingAttackers)
        {
            <RadzenCard>
                <AttackInput @bind-attack="comparison.Simulation1.AttackProfile" />
                <RadzenButton Click=@(() => SetAttacker(comparison.AlternateAttackSimulation.AttackProfile,comparison.Simulation1)) Text="Copy from Attacker 2" ButtonStyle="ButtonStyle.Primary" />
            </RadzenCard>
            <RadzenCard>

                <AttackInput @bind-attack="comparison.AlternateAttackSimulation.AttackProfile" />
                <RadzenButton Click=@(() => SetAttacker(comparison.Simulation1.AttackProfile, comparison.AlternateAttackSimulation)) Text="Copy from Attacker 1" ButtonStyle="ButtonStyle.Primary" />
            </RadzenCard>
        }
        else
        {
            <AttackInput @bind-attack="comparison.Simulation1.AttackProfile" />

        }
    </RadzenCardGroup>
    <h1>Defender</h1>
    <RadzenCardGroup>
        @if (comparison.ComparingDefenders)
        {
            <UnitInput @bind-Unit="comparison.AlternateDefenseSimulation.Defender" Attacker=false />
        }
        else
        {   
        <UnitInput @bind-Unit="comparison.Simulation1.Defender" Attacker=false />
        }
    </RadzenCardGroup>
</RadzenCard>
<RadzenCardGroup>

    <FightResult sim="ViewSim1"></FightResult>
    @if (comparison.ComparingAttackers)
    {
        <FightResult sim="ViewSim2"></FightResult>
    }
    @if (comparison.ComparingDefenders)
    {
        <FightResult sim="ViewSim2"></FightResult>
    }
</RadzenCardGroup>
<RadzenButton Click=@(() => FightUnits()) Text="Fight all Units" ButtonStyle="ButtonStyle.Primary" />
<RadzenCard>
    @if (ShowTable)
    {

        @if (comparison.ComparingAttackers)
        {
            <ResultsTable sim=@comparison.Simulation1 sim2=@comparison.AlternateAttackSimulation />
        }
        else if (comparison.ComparingDefenders)
        {
            <ResultsTable sim=@comparison.Simulation1 sim2=@comparison.AlternateDefenseSimulation />
        }
        else
        {
            <ResultsTable sim=@comparison.Simulation1 />
        }
    }
</RadzenCard>
@code {
    public Comparison comparison { get; set; }
    public bool ShowTable { get; set; } = true;
    private int SelectedNumberOfSimulations = 1;
    private FightSimulationService fightSimulationService = new FightSimulationService();
    private FightSimulation ViewSim1;
    private FightSimulation ViewSim2;
    private void SetAttacker(AttackProfile source, MultiFightSimulation destination)
    {
        destination.AttackProfile = (AttackProfile)source.Clone();
    }
    private void SetDefender(UnitProfile source, MultiFightSimulation destination)
    {
        destination.Defender = (UnitProfile)source.Clone();
    }
    private void AssignMultiSims(int x)
    {
        SelectedNumberOfSimulations = x;
        comparison.Simulation1.SetSimNumber(x);
        comparison.AlternateDefenseSimulation.SetSimNumber(x);
        comparison.AlternateAttackSimulation.SetSimNumber(x);

    }
    private void FightUnits()
    {
        fightSimulationService.SimulateAllFights(comparison.Simulation1);
        ViewSim1 = comparison.Simulation1.FightSimulations.First();
        if (comparison.ComparingAttackers)
        {
            fightSimulationService.SimulateAllFights(comparison.AlternateAttackSimulation);
            ViewSim2 = comparison.AlternateAttackSimulation.FightSimulations.First();

        }
        else if (comparison.ComparingDefenders)
        {
            fightSimulationService.SimulateAllFights(comparison.AlternateDefenseSimulation);
            ViewSim2 = comparison.AlternateDefenseSimulation.FightSimulations.First();

        }
        StateHasChanged();
    }
    protected override Task OnInitializedAsync()
    {
        comparison = new Comparison();
        comparison.Simulation1 = new MultiFightSimulation()
        {

            Defender = new UnitProfile()
            {
                InvulnerableSave = 0,
                MinimumSave = 3,
                Toughness = 4,
                Wounds = 2,
                ModelCount = 10,
                Name = "intercessor"
            },
            AttackProfile = new AttackProfile()
            {
                ArmorPenetration = 1,
                Attacks = 20,
                Damage = 1,
                Skill = 3,
                Strength = 4,
                VariableAttackDiceConstant = 1,
                VariableAttackDiceNumber = 2,
                VariableDamageDiceConstant = 1,
                VariableDamageDiceNumber = 1
            }
        };
        comparison.AlternateAttackSimulation = new MultiFightSimulation()
        {
            Defender = (UnitProfile)comparison.Simulation1.Defender.Clone(),
            AttackProfile = (AttackProfile)comparison.Simulation1.AttackProfile.Clone()
        };
        comparison.AlternateDefenseSimulation = new MultiFightSimulation()
        {
            Defender = (UnitProfile)comparison.Simulation1.Defender.Clone(),
            AttackProfile = (AttackProfile)comparison.Simulation1.AttackProfile.Clone()
        };
        AssignMultiSims(1);

        return base.OnInitializedAsync();
    }
}
