@using Snorehammer.Web.Components.Simulation
@using Snorehammer.Web.Components.Simulation.DiceRoller
@using Snorehammer.Web.Components.Unit
@using Snorehammer.Web.FrontendModels
@using Snorehammer.Web.FrontendModels.Simulations
@using Snorehammer.Web.Services
@rendermode InteractiveServer
@if (sim is not null)
{
    <RadzenPanel AllowCollapse="true">
        <HeaderTemplate>
            <RadzenText>Dice Display</RadzenText>
        </HeaderTemplate>
        <ChildContent>

            <RadzenCard>
                @foreach (var weapon in sim.WeaponSimulations)
                {
                    <WeaponResult sim="weapon"></WeaponResult>
                }
                @if (sim.HasFightAfterDeath)
            {
                    <RadzenPanel AllowCollapse="true">
                        <HeaderTemplate>
                            Fight After Death for Defender
                        </HeaderTemplate>
                        <ChildContent>

                            @foreach (var weapon in sim.FightAfterDeathSimulation.WeaponSimulations)
                            {
                                <WeaponResult sim="weapon"></WeaponResult>
                            }
                        </ChildContent>
                    </RadzenPanel>
            }
                @if (sim.HasFightBack)
                {
                    <RadzenPanel AllowCollapse="true">
                        <HeaderTemplate>
                            Defender Fights Back
                        </HeaderTemplate>
                        <ChildContent>

                            @foreach (var weapon in sim.FightBackSimulation.WeaponSimulations)
                            {
                                <WeaponResult sim="weapon"></WeaponResult>
                            }
                        </ChildContent>
                    </RadzenPanel>
                }
                <RadzenCard>
                    <h1>Winner:</h1>
                    <p>@sim.WinnerMessage</p>
                </RadzenCard>
            </RadzenCard>
        </ChildContent>
        <SummaryTemplate>
            <RadzenCard>
                <h1>Winner:</h1>
                <p>@sim.WinnerMessage</p>
            </RadzenCard>
        </SummaryTemplate>
    </RadzenPanel>

}
@code {
    [Parameter]
    public FightSimulation sim { get; set; }
    private bool FightComplete { get; set; } = false;
    private bool simulating { get; set; } = true;
}
