@inherits LayoutComponentBase
<RadzenComponents @rendermode="InteractiveServer" />
<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
            <RadzenLabel Text="Snorehammer" />
            <RadzenAppearanceToggle />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="UnitCompare" Icon="home" Path="/" />
            <RadzenPanelMenuItem Text="Roller" Icon="cycle" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenColumn Size="3">

        A site made by <a href="sethbcoding.com">Seth A Burleson </a>Copyright 2025.  
            </RadzenColumn>
            <RadzenColumn Size="3">
        Warhammer 40k is a property of GamesWorkshop, and this is an unofficial tool
            </RadzenColumn>
            <RadzenColumn Size="3">
                <RadzenIcon Icon="Bug_report" /><a href="https://github.com/sbrevolution5/Snorehammer/issues">Report an Issue</a>
            </RadzenColumn>
            <RadzenColumn Size="3">
                <RadzenIcon Icon="Code" /> View open source code on <a href="https://github.com/sbrevolution5/Snorehammer">gitHub</a>
            </RadzenColumn>
        </RadzenStack>
    </RadzenFooter>
</RadzenLayout>

@code {
    bool sidebar1Expanded = true;
}