@using Snorehammer.Web.FrontendModels
@using Snorehammer.Web.FrontendModels.Stats
@using Snorehammer.Web.Services
<h3>GraphsDisplay</h3>
@*Bar chart for number of hits etc*@
<RadzenRow>
    <RadzenColumn Size="12" SizeLG="6">
        <BarGraph dataA="dataA.Select(s => s.AttacksHit).ToList()" dataB="dataB.Select(s => s.AttacksHit).ToList()" GraphTitle="Attacks Hit" statsATitle="@titleA" statsBTitle="@titleB"></BarGraph>
    </RadzenColumn>
</RadzenRow>
@*Pie charts for unit destroyed, at half, etc*@
@code {
    [Parameter]
    public Comparison comparison { get; set; }
    public List<FightStats> dataA { get; set; }
    public List<FightStats> dataB { get; set; }
    public string titleA { get; set; }
    public string titleB { get; set; }
    protected override Task OnInitializedAsync()
    {
        DataFromComparison();
        return base.OnInitializedAsync();
    }
    private void DataFromComparison()
    {
        dataA = comparison.Simulation1.FightSimulations.Select(f => f.Stats).ToList();
        titleA = dataA.First().ColumnName;
        @if (comparison.ComparingAttackers)
        {
            dataB = comparison.AlternateAttackSimulation.FightSimulations.Select(f => f.Stats).ToList();
            titleB = dataB.First().ColumnName;
        }
        else if (comparison.ComparingDefenders)
        {
            dataB = comparison.AlternateDefenseSimulation.FightSimulations.Select(f => f.Stats).ToList();
            titleB = dataB.First().ColumnName;
        }
        else
        {
            titleB = "";
            dataB = new List<FightStats>();
        }
    }
}


